services:
  db: 
    # TODO: consider version and whether to use alpine
    image: postgres:18
    env_file:
      - ./api/.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data 
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER}"]
      interval: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    
  api:
    build:
      # the directory where this is run 
      context: ./api
      # the path to the Dockerfile relative to the context
      dockerfile: ./cmd/server/Dockerfile
    ports:
      - "8080:8080"
    env_file:
      - ./api/.env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started

  scoreupdater:
    build:
      context: ./api
      dockerfile: ./cmd/scoreupdater/Dockerfile
    env_file:
      - ./api/.env
    depends_on:
      db:
        condition: service_healthy

  web:
    build:
      context: ./web 
      dockerfile: ./Dockerfile
    ports:
      - "5173:80"
    depends_on:
      - api

  web-dev:
    build:
      context: ./web
      dockerfile: ./Dockerfile.dev
    ports:
      - "5173:5173"
    depends_on:
      - api
    # Mount the web source code for live reloading
    volumes:
    - ./web:/app
    - /app/node_modules

  pgAdmin:
    image: dpage/pgadmin4:9.10
    env_file:
      - ./api/.env
    ports:
      - "5050:80"
    depends_on:
      - db

volumes:
  postgres_data: